.sponsoredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
    /* width: 500px; */
    /* height: 600px; */
}

.sponsoredContainer h5 {
    align-self: flex-start;
    margin-bottom: 20px;
    line-height: 2px;
    font-size: 17px;
    font-weight: 500;
    color: #75767B;
}

.advertSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: space-between; */
    width: 270px;
    height: 130px;
}

.advertSection img {
    height: 120px;
    width: 120px;
}

h6 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.YourPage {
    width: 100%;
    margin: 8px 0px;
}