.navBarContainer {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
    z-index: 2;
    position: fixed;
    top: 0;
}

.navCenter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    margin-right: 4em;
    height: 100%;
}

.navCenter li {
    /* display: inline; */
    background-color: none;
    width: 7em;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0.5em;
    height: 2.9em;
    border-bottom: 3px solid blue;
}

.navCenter li svg {
    color: blue;
    width: 1.2em;
    height: 1.5em;
}

.navLeft {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.facebookIcon svg {
    width: 45px;
    height: 45px;
    /* color: blue; */
    /* background-color: white; */
}

.navRight {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    width: 15%;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 10%;
}

.carol {
    width: 500pc;
}

.storylabel {
    width: 300px;
    height: 100px;
}